 <mat-card class="post-card">
   <mat-card-header>
        <mat-card-title>Create Post</mat-card-title>
      </mat-card-header>
      <div>
        <textarea #postBody placeholder="Type Message..."></textarea>
      </div>
      <div *ngIf="selectedImageFile" id="post-preview">
        <img id="post-preview-image"/>
      </div>
      <mat-card-actions class="post-actions" align="end">
        <button mat-button color="primary">
          <label for="photo-upload">
            <input #photoSelector (change)="onPhotoSelected(photoSelector)"
                   id="photo-upload" type="file" accept="image/*"/>
            <mat-icon>insert_photo</mat-icon>
          </label>
        </button>
        <button (click)="onPostClick(postBody)" mat-flat-button color="primary">Post</button>
        <button (click)="closeDialog()"mat-flat-button color="primary">Close</button>
      </mat-card-actions>
   <mat-progress-bar *ngIf="upload" mode="indeterminate"></mat-progress-bar>
 </mat-card>

