/*
.navbar {
  !*justify-content: space-between;*!
  justify-content: space-between;
}

span {
  padding-right: 1rem;
}

.tabs {
  display: flex;
  gap: 14px;
  padding: 10px;
  background: rgba(255, 255, 255, 0.25);
  border-radius: 12px;
  margin: 50px 12px 12px;
}

.tab-tile {
  display: flex;
  padding: 18px;
  !*background: rgba(0, 0, 0, 0.1);*!
  !*background: linear-gradient(45deg, steelblue, #e2e2e2);*!
  backdrop-filter: blur(3px);
  cursor: pointer;
  !*border-radius: 10px;*!
}

.tab {
  position: relative;
  z-index: 1;
}

.tab-tile::before {
  content: '';
  position: absolute;

  top: 0;
  left: 0;

  z-index: -1;

  height: 100%;
  width: 100%;

  border-radius: 10px;

  opacity: 0.9;

  background: rgba(0, 0, 0, 0.1);
  background: linear-gradient(45deg, steelblue, #e2e2e2);

  transition: all 0.2s ease-out;

}

.login-tab .tab-tile::before {
  background: linear-gradient(45deg, steelblue, #e2e2e2);
}

.registration-tab .tab-tile::before {
  background: linear-gradient(45deg, lightskyblue, #e2e2e2);
}

.info-tab .tab-tile::before {
  background: linear-gradient(45deg, cornflowerblue, #e2e2e2);
}

.tab-tile:hover::before {
  transform: scale(1.1);
  opacity: 1;
}

.tab-tile i {
  color: #222;
}

*/
