/* You can add global styles to this file, and also import other style files */

@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
/*body { margin: 0; font-family: 'Inter', sans-serif; }*/
h1 { font-size: 48px; }
h2 { font-size: 40px; }

.container {
  max-width: 1500px;
  margin: auto;
}

.mat-dialog-container {
  padding: 0px !important;
  border-radius: 12px !important;
  margin: 0px !important;
  background-color: transparent !important;
}
