.mat-card {
  margin: auto;
  width:50%;
  background: transparent;
}

.mat-card form {
  text-align: center;
  height: 100%;
  width: 50%;
  margin: auto;
  display: inherit;
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.65);
}

.mat-form-field {
  /*margin: auto;*/
  padding: 15px;
}

.username{
  width: 100%;
}

.password{
  width: 100%;
}

